{% extends '_base.html' %}

{% block title %}All the pages{% endblock %}

{% block content %}


<h1>All the pages</h1>
<!-- De næste to linjer er udelukkende for at vise, at jeg har smidt "ekstra" data ind i context fra mit view AllPagesView-->
<!-- Den skriver Demo til Lone -->
{% if besked %}
<h2>{{besked}}</h2>
{% endif %}

<!-- Starter card-group -->
<div class="card-deck m-1">

    {% for page in page_list %}

    <div class="card" style="width: 10rem;">
        <img src="{{ page.img_url}}" alt="{{ page.img_alt}}" style="width:140px;height:160px;">
        <div class="card-body">
            <h5 class="card-title">{{ page.title}}</h5>
            <p class="card-text">{{ page.text}}</p>
            <a href="{{ page.external_url}}" class="btn btn-primary">{{ page.external_text}}</a>
        </div>
    </div>
    {% empty %}
    <img src="https://i.pinimg.com/originals/20/30/72/203072e57e664c774b23ba0a5d5ba97d.png" alt="Empty space"
        style="width:300px;">
    {% endfor %}
</div> <!-- Afslutter card-group -->

{% endblock content %}